# Directories
node_modules/
dist/
coverage/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Compiled files
*.js
*.js.map

# Exclude tailwind.config.js
!tailwind.config.js

# Miscellaneous
.DS_Store
Thumbs.db






